.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #16beac;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: center;
  font-size: xx-large;
  color: white;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0ca192;
  height: 400px;
  width: 400px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 125px;
  background-color: #16beac;
  font-size: xx-large;
  font-weight: bolder;
}

.case:hover {
  background-color: #0ca192;
  height: 121px;
  width: 121px;
  border: #16beac solid 2px;
}

.retry {
  margin-top: 50px;
  padding: 10px;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
  color: white;
  border: white solid 2px;
  border-radius: 5%;
}
.retry:hover {
  background-color: #0ca192;
  cursor: pointer;
}

/* Regarde pas */
.retry-hidden {
  margin-top: 50px;
  padding: 10px;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
  color: transparent;
  border: transparent solid 2px;
  border-radius: 5%;
}
