.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #16beac;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: center;
  font-size: xx-large;
  color: white;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0ca192;
  height: 400px;
  width: 400px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 125px;
  background-color: #16beac;
  font-size: xx-large;
  font-weight: bolder;
}
